@using Dealership.Models
@model CarLot
@{
    ViewBag.Title = $"{Model.Dealer.Name}";
}

<h2>@Model.Dealer.Name</h2>

<p>Model: @Model.Cars[ViewBag.CarIndex].Model</p>
<p>Make:  @Model.Cars[ViewBag.CarIndex].Make</p>
<p>Year:  @Model.Cars[ViewBag.CarIndex].Year</p>

@Html.ActionLink("Previous", "Previous", null, new { @class = "btn btn-default" })
@Html.ActionLink("Next", "Next", null, new { @class = "btn btn-default" })
